<div class="login-container">
  <div class="form-container">
    <h2>Đăng Nhập</h2>
    <nz-alert
      *ngIf="error"
      nzShowIcon
      nzType="error"
      [nzMessage]="error"
      [ngStyle]="{ 'margin-bottom': '16px' }"
    ></nz-alert>
    <form (ngSubmit)="onSubmit()">
      <div class="input-container">
        <label for="email">Địa chỉ email</label>
        <input
          nz-input
          type="email"
          name="email"
          placeholder="Nhận địa chỉ email"
          [(ngModel)]="email"
        />
      </div>
      <div class="input-container">
        <label for="password">Mật khẩu</label>
        <input
          nz-input
          type="password"
          name="password"
          placeholder="Nhập mật khẩu"
          [(ngModel)]="password"
        />
      </div>
      <div class="cta-container">
        <button
          nz-button
          type="submit"
          [disabled]="!canSubmit()"
          [nzLoading]="loading"
        >
        Đăng nhập
        </button>
        <div><a routerLink="/register">Tạo một tài khoản mới</a></div>
      </div>

      <div class="forgot-password">
        <a href="">Quên mật khẩu?</a>
      </div>
    </form>
  </div>
</div>
