<app-admin-nav></app-admin-nav>
<div class="order-history-container">
    <div class="container">
        <h2>Quản lý đơn hàng</h2>

        <!-- Tìm kiếm đơn hàng -->
        <div class="search-container">
            <input 
                type="text" 
                placeholder="Nhập ID đơn hàng" 
                [(ngModel)]="searchOrderId"
                (input)="onSearch()"
                class="search-input"
            />
            <button (click)="onSearch()" class="search-button">Tìm kiếm</button>
        </div>

        <div *ngIf="error" class="error-message">{{ error }}</div>

        <nz-table #basicTable [nzData]="orders" *ngIf="orders.length > 0">
            <thead>
                <tr>
                    <th>OrderID</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of orders">
                    <td>{{ item.order_id }}</td>
                    <td>{{ item.title }}</td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>
